<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.flutterbeacon">
 <application>
        <receiver android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver" android:exported="false">
        
        </receiver>

        
    </application>

</manifest>

